[user]
	name = Sosuke Suzuki
	email = aosukeke@gmail.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
	editor = vim
[ghq]
	root = ~/.ghq
	root = ~/.ghq/src
[alias]
	st = status
	a = add
	c = commit
	p = push
	wt = worktree
	f = fetch
	p = pull
	b = branch
	co = checkout
[credential]
	helper = cache --timeout=3600
