[user]
	name = Sosuke Suzuki
	email = aosukeke@gmail.com
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
	editor = vim
[ghq]
	root = ~/.ghq
	root = ~/.ghq/src
[alias]
	st = status
	ad = add
	cm = commit
	ps = push
	wt = worktree
[credential]
	helper = cache --timeout=3600
