{'type', 'SNIPPET_NOTE', 'folder', 'c14eca238bc', 'title', 'generate', 'description', 'snippets', 'name', 'mode', 'text', 'content', 'component', 'Generate', 'directive', 'pipe', 'service', 'class', 'interface', 'enum', 'tags', 'isStarred', 'false', 'createdAt', 'updatedAt'}
