{'tags', 'Java', 'updatedAt', 'folder', 'aad0856beea4', 'type', 'SNIPPET_NOTE', 'isStarred', 'false', 'title', 'description', 'df8c0ffeabfefaf359', 'snippets', 'name', 'java', 'mode', 'content', 'return', 'System', 'println', 'uniqueKey', 'fc50ac81', 'ae118f9f1843'}
